body {
  margin: 0;
  padding: 0;
  background-color: #D6E1F0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.area-total {
  width: 300px;
  height: 435px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.area-QR-code {
  width: 280px;
  height: 260px;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
  background-image: url(../images/image-qr-code.png);
  background-position: center;
  background-size: cover;
}
.area-texto {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.texto1 {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: #243551;
  line-height: 24px;
}
.texto2 {
  font-size: 11px;
  font-family: 'Heebo', sans-serif;
  color: #898d98;
}
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
